.skills{
    background-color: #f6d30d;
}

.skills_container{
    grid-template-columns: repeat(2,350px);
    column-gap: 3rem;
    justify-content: center;
}
.skills_content{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}
.skills_title{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}
.skills_box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills_group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}
.skills_data{
    display: flex;
    column-gap: 0.5rem;
}
.skills .bx-badge-check{
    font-size: 1rem;
    color: rgb(51, 51, 51);
}

.skills_name{
    font-size: 1rem;
    font-weight: 500;
    line-height: 18px;
}

.skills_level{
    font-size: 0.625rem;
}


/*================Break Point=============*/
/*For large device*/
@media (max-width:992px){
    .skills_container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}
  
  /*For medium device*/

@media (max-width:576px){
   .skills_container{
    grid-template-columns: 1fr;
   }
   .skills_content{
    padding: 1.5rem;
   }
}
  
  /*For small device*/
@media (max-width:350px){
    .sills_box{
        column-gap: 1.25rem;
    }
    .skills_name{
        font-size: 0.875em;
    }
}
